<html data-namespace-typo3-fluid="true" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <f:asset.script
    identifier="formlogic-formdependencies"
    src="EXT:form_logic/Resources/Public/JavaScript/Frontend/form-logic.min.js"
    defer="true"/>
  <script>
    window.formLogic = window.formLogic || {};
    window.formLogic = window.formLogic || {};
    window.formLogic.formScripts = window.formLogic.formScripts || {};
    window.formLogic.formScripts['{form.formDefinition.identifier}'] = function (form) {
      <f:render partial="FormLogicAliases" arguments="{form:form}" />
      <f:if condition="{form.formDefinition.renderingOptions.dependencyScript}">
      <f:format.raw>{form.formDefinition.renderingOptions.dependencyScript}</f:format.raw>
      </f:if>
    }
  </script>
</html>
